In [2]:
import numpy as np
import pandas as pd
import matplotlib as mlt
import matplotlib.pyplot as plt
import difflib
from fuzzywuzzy import fuzz ## produces an error code could not install python-Levenshtein
from fuzzywuzzy import process

/home/mitch/anaconda3/lib/python3.7/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [3]:
df=pd.DataFrame()
#about to be shamelessly stolen from knoema.com

## Market Share

In [4]:
df['Manufacturers']=pd.Series(['GM','FORD','TOYOTA','FCA','HONDA','NISSAN','HYUNDAI','VOLKSWAGEN','KIA','DAIMLER','BMW','SUBARU','MAZDA','VOLVO','INTERNATIONAL','PACCAR','MITSUBISHI','LAND_ROVER','VOLVO_TRUCK','PORSCHE'])
df['2012']=pd.Series([17.56,15.22,14.13,11.12,9.63,7.72,4.76,3.91,3.77,2.76,2.35,2.28,1.87,0.46,0.46,0.43,0.39,0.30,0.27,0.24])
df

    Manufacturers   2012
0              GM  17.56
1            FORD  15.22
2          TOYOTA  14.13
3             FCA  11.12
4           HONDA   9.63
5          NISSAN   7.72
6         HYUNDAI   4.76
7      VOLKSWAGEN   3.91
8             KIA   3.77
9         DAIMLER   2.76
10            BMW   2.35
11         SUBARU   2.28
12          MAZDA   1.87
13          VOLVO   0.46
14  INTERNATIONAL   0.46
15         PACCAR   0.43
16     MITSUBISHI   0.39
17     LAND_ROVER   0.30
18    VOLVO_TRUCK   0.27
19        PORSCHE   0.24

In [36]:
violations=pd.read_csv('data/df_focus.csv',low_memory=False)

In [37]:
violations.columns

Index(['Date Of Stop', 'Time Of Stop', 'Agency', 'SubAgency', 'Description',
       'Location', 'Latitude', 'Longitude', 'Accident', 'Belts',
       'Personal Injury', 'Property Damage', 'Fatal', 'Commercial License',
       'HAZMAT', 'Commercial Vehicle', 'Alcohol', 'Work Zone', 'State',
       'VehicleType', 'Year', 'Make', 'Model', 'Color', 'Violation Type',
       'Charge', 'Article', 'Contributed To Accident', 'Race', 'Gender',
       'Driver City', 'Driver State', 'DL State', 'Arrest Type', 'Geolocation',
       'datetime'],
      dtype='object')

In [38]:
violations=violations[['Date Of Stop', 'Time Of Stop', 'Latitude', 'Longitude','Year', 'Make', 'Model', 'Color','Race', 'Gender','Geolocation','datetime']]

In [39]:
violations.columns

Index(['Date Of Stop', 'Time Of Stop', 'Latitude', 'Longitude', 'Year', 'Make',
       'Model', 'Color', 'Race', 'Gender', 'Geolocation', 'datetime'],
      dtype='object')

In [13]:
violations.Make.unique()

array(['FORD', 'TOYOTA', 'HONDA', 'DODG', 'HYUNDAI', 'DODGE', 'CADI',
       'CHEVROLET', 'AUDI', 'TOYT', 'SATURN', 'LEXUS', 'ACUR', 'NONE',
       'MERCEDEZ', 'BUICK', 'CHEV', 'KAWASAKI', 'ACURA', 'JEEP',
       'MITSUBISHI', 'LINCOLN', 'HOND', 'CHRY', 'INFI', 'SUBARU', 'GMC',
       'MAZDA', 'BMW', 'NISS', 'PONT', 'TOYOT', 'CHRYSLER', 'OLDS',
       'NISSAN', 'LNDR', 'CHEVY', 'LINC', 'LANDROVER', 'TOY', 'INFINITI',
       'MERCURY', 'SAAB', 'HYUN', 'KIA', 'HUMMER', 'MERCEDES', 'MERC',
       'MERZ', 'SATU', 'SCION', 'BUIC', 'VOLK', 'RANGE ROVER', 'MAZD',
       'MITS', 'SUBA', 'PLYMOUTH', 'CHEVEROLET', 'VOLKSWAGON', 'INFINITY',
       'VOLKS', 'OLDSMOBILE', 'PONTIAC', 'HYUNDIA', 'SCIO', 'VW',
       'JAGUAR', 'CADILLAC', 'SUZI', 'TOYO', 'FREIGHTLINER', 'VOLVO',
       'STRN', 'VOLKSWAGEN', 'MINI', 'CHEVORLET', 'LEXS', 'LEXU', 'VOLV',
       'PORS', 'ISUZU', 'NISSIAN', 'LAND ROVER', 'SUZUKI', 'INTL',
       'CADILAC', 'SUB', 'MACK', 'ISUZ', 'ISU', 'HINO', 'GEO', 'HYUND',
       'CHRYSTLER', 'MERCEDES BENZ', 'LEX', 'TOYTA', 'INTERNATIONAL',
       'RAM', 'FIAT', 'CHRYS', 'MITZ', 'SUZU', 'FRHT', 'PORSCHE', 'JAGU',
       'TAOTAO', 'YAMAHA', 'PLYM'], dtype=object)

In [18]:
fecon=pd.read_csv('data/fecon.csv',low_memory=False)

In [68]:
choices=['Audi','BMW','General Motors', 'GM', 'GMC','Honda','Toyota','MAZDA','Mercedes','Nissan','Porsche','Chrysler','Jaguar','Mitsubishi','Ford','Hyundai','Volkswagen', 'VW','Volvo','Kia','Mitsubishi','Saab','Subaru','Suzuki','Land Rover','Dodge','Chevrolet','Lexus','Cadillac','Saturn','Acura','Jeep','Buick']
len(choices)

33

The below works and is a cool piece of code so I left it in, but it is very slow. Left it running overnight.

In [22]:
#ORDER OF OPERATIONS MATTERS. This code is going though all 1.3million lines of the DataFrame and running
#a new comparison each time. Should have run on the array of Violations.Make.unique()
#and made a conversion dictionary, from old to new. Should be MUCH faster.
#fn = lambda row: process.extractOne(row.Make, choices) # define a function for the new column
#col = violations.apply(fn, axis=1) # get column data with an index
#violations = violations.assign(Mfr=col.values) # assign values to column 'c'

In [30]:
uniqMake=list(violations.Make.unique())
len(uniqMake)

110

In [65]:
mandict={}
for i in uniqMake:
    mandict[i]= process.extractOne(i, choices)
mandict

{'FORD': ('Ford', 100),
 'TOYOTA': ('Toyota', 100),
 'HONDA': ('Honda', 100),
 'DODG': ('Dodge', 89),
 'HYUNDAI': ('Hyundai', 100),
 'DODGE': ('Dodge', 100),
 'CADI': ('Cadillac', 90),
 'CHEVROLET': ('Chevrolet', 100),
 'AUDI': ('Audi', 100),
 'TOYT': ('Toyota', 80),
 'SATURN': ('Saturn', 100),
 'LEXUS': ('Lexus', 100),
 'ACUR': ('Acura', 89),
 'NONE': ('General Motors', 45),
 'MERCEDEZ': ('Mercedes', 88),
 'BUICK': ('Buick', 100),
 'CHEV': ('Chevrolet', 90),
 'KAWASAKI': ('Kia', 72),
 'ACURA': ('Acura', 100),
 'JEEP': ('Jeep', 100),
 'MITSUBISHI': ('Mitsubishi', 100),
 'LINCOLN': ('Chevrolet', 38),
 'HOND': ('Honda', 89),
 'CHRY': ('Chrysler', 90),
 'INFI': ('Mitsubishi', 45),
 'SUBARU': ('Subaru', 100),
 'GMC': ('Mercedes', 36),
 'MAZDA': ('MAZDA', 100),
 'BMW': ('BMW', 100),
 'NISS': ('Nissan', 90),
 'PONT': ('General Motors', 45),
 'TOYOT': ('Toyota', 91),
 'CHRYSLER': ('Chrysler', 100),
 'OLDS': ('Volkswagen', 68),
 'NISSAN': ('Nissan', 100),
 'LNDR': ('Land Rover', 68),
 'CHEVY': ('Chevrolet', 72),
 'LINC': ('Land Rover', 45),
 'LANDROVER': ('Land Rover', 95),
 'TOY': ('Toyota', 90),
 'INFINITI': ('Mitsubishi', 33),
 'MERCURY': ('Mercedes', 53),
 'SAAB': ('Saab', 100),
 'HYUN': ('Hyundai', 90),
 'KIA': ('Kia', 100),
 'HUMMER': ('Chevrolet', 45),
 'MERCEDES': ('Mercedes', 100),
 'MERC': ('Mercedes', 90),
 'MERZ': ('Mercedes', 68),
 'SATU': ('Saturn', 90),
 'SCION': ('Honda', 40),
 'BUIC': ('Buick', 89),
 'VOLK': ('Volkswagen', 90),
 'RANGE ROVER': ('Land Rover', 76),
 'MAZD': ('MAZDA', 89),
 'MITS': ('Mitsubishi', 90),
 'SUBA': ('Subaru', 90),
 'PLYMOUTH': ('General Motors', 45),
 'CHEVEROLET': ('Chevrolet', 95),
 'VOLKSWAGON': ('Volkswagen', 90),
 'INFINITY': ('Kia', 30),
 'VOLKS': ('Volkswagen', 90),
 'OLDSMOBILE': ('Lexus', 51),
 'PONTIAC': ('Kia', 60),
 'HYUNDIA': ('Hyundai', 86),
 'SCIO': ('Porsche', 45),
 'VW': ('BMW', 45),
 'JAGUAR': ('Jaguar', 100),
 'CADILLAC': ('Cadillac', 100),
 'SUZI': ('Suzuki', 80),
 'TOYO': ('Toyota', 90),
 'FREIGHTLINER': ('Chrysler', 45),
 'VOLVO': ('Volvo', 100),
 'STRN': ('Saturn', 80),
 'VOLKSWAGEN': ('Volkswagen', 100),
 'MINI': ('Nissan', 45),
 'CHEVORLET': ('Chevrolet', 89),
 'LEXS': ('Lexus', 89),
 'LEXU': ('Lexus', 89),
 'VOLV': ('Volvo', 89),
 'PORS': ('Porsche', 90),
 'ISUZU': ('Suzuki', 73),
 'NISSIAN': ('Nissan', 92),
 'LAND ROVER': ('Land Rover', 100),
 'SUZUKI': ('Suzuki', 100),
 'INTL': ('Mitsubishi', 45),
 'CADILAC': ('Cadillac', 93),
 'SUB': ('Mitsubishi', 90),
 'MACK': ('Cadillac', 51),
 'ISUZ': ('Suzuki', 68),
 'ISU': ('Nissan', 60),
 'HINO': ('Mitsubishi', 60),
 'GEO': ('Dodge', 72),
 'HYUND': ('Hyundai', 83),
 'CHRYSTLER': ('Chrysler', 94),
 'MERCEDES BENZ': ('Mercedes', 90),
 'LEX': ('Lexus', 90),
 'TOYTA': ('Toyota', 91),
 'INTERNATIONAL': ('Honda', 54),
 'RAM': ('Acura', 72),
 'FIAT': ('Kia', 57),
 'CHRYS': ('Chrysler', 90),
 'MITZ': ('Mitsubishi', 68),
 'SUZU': ('Suzuki', 90),
 'FRHT': ('Ford', 50),
 'PORSCHE': ('Porsche', 100),
 'JAGU': ('Jaguar', 90),
 'TAOTAO': ('Toyota', 67),
 'YAMAHA': ('MAZDA', 55),
 'PLYM': ('General Motors', 45)}

In [66]:
fn = lambda row: mandict[row.Make]
col = violations.apply(fn, axis=1) # get column data with an index
violations = violations.assign(Mfr=col.values) # assign values to column 'c'

In [80]:
acceptmake=list(mandict.keys())
acceptmake=['FORD',
 'TOYOTA',
 'HONDA',
 'DODG',
 'HYUNDAI',
 'DODGE',
 'CADI',
 'CHEVROLET',
 'AUDI',
 'TOYT',
 'SATURN',
 'LEXUS',
 'ACUR',
 'MERCEDEZ',
 'CHEV',
 'ACURA',
 'JEEP',
 'MITSUBISHI',
 'HOND',
 'CHRY',
 'SUBARU',
 'GMC',
 'MAZDA',
 'BMW',
 'NISS',
 'TOYOT',
 'CHRYSLER',
 'NISSAN',
 'LNDR',
 'CHEVY',
 'LANDROVER',
 'TOY',
 'MERCURY',
 'SAAB',
 'HYUN',
 'KIA',
 'MERCEDES',
 'MERC',
 'MERZ',
 'SATU',
 'VOLK',
 'RANGE ROVER',
 'MAZD',
 'MITS',
 'SUBA',
 'PLYMOUTH',
 'CHEVEROLET',
 'VOLKSWAGON',
 'INFINITY',
 'VOLKS',
 'HYUNDIA',
 'VW',
 'JAGUAR',
 'CADILLAC',
 'SUZI',
 'TOYO',
 'VOLVO',
 'STRN',
 'VOLKSWAGEN',
 'CHEVORLET',
 'LEXS',
 'LEXU',
 'VOLV',
 'PORS',
 'NISSIAN',
 'LAND ROVER',
 'SUZUKI',
 'CADILAC',
 'SUB',
 'HYUND',
 'CHRYSTLER',
 'MERCEDES BENZ',
 'LEX',
 'TOYTA',
 'CHRYS',
 'MITZ',
 'SUZU',
 'PORSCHE',
 'JAGU']

In [81]:
violations=violations[violations.Make.isin(acceptmake)]

In [82]:
len(violations.Make)

1190490

In [83]:
mandict={}
for i in violations.Make.unique():
    mandict[i]= process.extractOne(i, choices)
mandict

{'FORD': ('Ford', 100),
 'TOYOTA': ('Toyota', 100),
 'HONDA': ('Honda', 100),
 'DODG': ('Dodge', 89),
 'HYUNDAI': ('Hyundai', 100),
 'DODGE': ('Dodge', 100),
 'CADI': ('Cadillac', 90),
 'CHEVROLET': ('Chevrolet', 100),
 'AUDI': ('Audi', 100),
 'TOYT': ('Toyota', 80),
 'SATURN': ('Saturn', 100),
 'LEXUS': ('Lexus', 100),
 'ACUR': ('Acura', 89),
 'MERCEDEZ': ('Mercedes', 88),
 'CHEV': ('Chevrolet', 90),
 'ACURA': ('Acura', 100),
 'JEEP': ('Jeep', 100),
 'MITSUBISHI': ('Mitsubishi', 100),
 'HOND': ('Honda', 89),
 'CHRY': ('Chrysler', 90),
 'SUBARU': ('Subaru', 100),
 'GMC': ('GMC', 100),
 'MAZDA': ('MAZDA', 100),
 'BMW': ('BMW', 100),
 'NISS': ('Nissan', 90),
 'TOYOT': ('Toyota', 91),
 'CHRYSLER': ('Chrysler', 100),
 'NISSAN': ('Nissan', 100),
 'LNDR': ('Land Rover', 68),
 'CHEVY': ('Chevrolet', 72),
 'LANDROVER': ('Land Rover', 95),
 'TOY': ('Toyota', 90),
 'MERCURY': ('Mercedes', 53),
 'SAAB': ('Saab', 100),
 'HYUN': ('Hyundai', 90),
 'KIA': ('Kia', 100),
 'MERCEDES': ('Mercedes', 100),
 'MERC': ('Mercedes', 90),
 'MERZ': ('Mercedes', 68),
 'SATU': ('Saturn', 90),
 'VOLK': ('Volkswagen', 90),
 'RANGE ROVER': ('Land Rover', 76),
 'MAZD': ('MAZDA', 89),
 'MITS': ('Mitsubishi', 90),
 'SUBA': ('Subaru', 90),
 'PLYMOUTH': ('General Motors', 45),
 'CHEVEROLET': ('Chevrolet', 95),
 'VOLKSWAGON': ('Volkswagen', 90),
 'INFINITY': ('Kia', 30),
 'VOLKS': ('Volkswagen', 90),
 'HYUNDIA': ('Hyundai', 86),
 'VW': ('VW', 100),
 'JAGUAR': ('Jaguar', 100),
 'CADILLAC': ('Cadillac', 100),
 'SUZI': ('Suzuki', 80),
 'TOYO': ('Toyota', 90),
 'VOLVO': ('Volvo', 100),
 'STRN': ('Saturn', 80),
 'VOLKSWAGEN': ('Volkswagen', 100),
 'CHEVORLET': ('Chevrolet', 89),
 'LEXS': ('Lexus', 89),
 'LEXU': ('Lexus', 89),
 'VOLV': ('Volvo', 89),
 'PORS': ('Porsche', 90),
 'NISSIAN': ('Nissan', 92),
 'LAND ROVER': ('Land Rover', 100),
 'SUZUKI': ('Suzuki', 100),
 'CADILAC': ('Cadillac', 93),
 'SUB': ('Mitsubishi', 90),
 'HYUND': ('Hyundai', 83),
 'CHRYSTLER': ('Chrysler', 94),
 'MERCEDES BENZ': ('Mercedes', 90),
 'LEX': ('Lexus', 90),
 'TOYTA': ('Toyota', 91),
 'CHRYS': ('Chrysler', 90),
 'MITZ': ('Mitsubishi', 68),
 'SUZU': ('Suzuki', 90),
 'PORSCHE': ('Porsche', 100),
 'JAGU': ('Jaguar', 90)}

In [ ]:
del violations['Mfr']

In [92]:
len(violations)

1190490

In [93]:
fn = lambda row: mandict[row.Make]
col = violations.apply(fn, axis=1) # get column data with an index
violations = violations.assign(Mfr=col.values) # assign values to column 'c'

In [98]:
violations.head()

,Date Of Stop,Time Of Stop,Latitude,Longitude,Year,Make,Model,Color,Race,Gender,Geolocation,datetime,Mfr
0,2013-09-24,17:11:00,NaN,NaN,2008.0,FORD,4S,BLACK,BLACK,M,NaN,09/24/201317:11:00,"(Ford, 100)"
1,2017-08-29,10:19:00,38.981725,-77.092757,2001.0,TOYOTA,COROLLA,GREEN,WHITE,F,"(38.981725, -77.0927566666667)",08/29/201710:19:00,"(Toyota, 100)"
2,2014-12-01,12:52:00,39.162888,-77.229088,2001.0,HONDA,ACCORD,SILVER,BLACK,F,"(39.1628883333333, -77.2290883333333)",12/01/201412:52:00,"(Honda, 100)"
3,2017-08-29,09:22:00,39.056975,-76.954633,1998.0,DODG,DAKOTA,WHITE,BLACK,M,"(39.056975, -76.9546333333333)",08/29/201709:22:00,"(Dodge, 89)"
4,2013-08-27,00:55:00,NaN,NaN,2013.0,HYUNDAI,ELANTRA,GRAY,WHITE,F,NaN,08/27/201300:55:00,"(Hyundai, 100)"

In [103]:
violations.Mfr[0][0]

'Ford'

In [108]:
fecon.MfrName.unique()

array(['aston martin', 'Audi', 'Bentley', 'BMW', 'Bugatti',
       'General Motors', 'Ferrari', 'Honda', 'Lamborghini', 'Toyota',
       'MAZDA', 'McLaren Automotive ', 'Mercedes-Benz', 'Nissan',
       'Porsche', 'Chrysler Group LLC', 'Jaguar Cars', 'Lotus',
       'Mitsubishi Motors NA', 'Ford Motor Company', 'Hyundai',
       'Maserati', 'Roush', 'Volkswagen', 'Volvo', 'Kia',
       'Mitsubishi Motors Co', 'Rolls-Royce', 'Saab Cars North America',
       'Subaru', 'Suzuki', 'VPG', 'Land Rover'], dtype=object)

In [111]:
fmake=['Audi', 'Bentley', 'BMW','General Motors', 'Honda', 'Toyota',
       'MAZDA', 'Mercedes-Benz', 'Nissan',
       'Porsche', 'Chrysler Group LLC', 'Jaguar Cars',
       'Mitsubishi Motors NA', 'Ford Motor Company', 'Hyundai','Volkswagen', 'Volvo', 'Kia',
       'Mitsubishi Motors Co','Saab Cars North America',
       'Subaru', 'Suzuki', 'Land Rover']

In [112]:
fecon=fecon[fecon.MfrName.isin(fmake)]

In [113]:
fecon.head()

,MfrName,Carline,ModelYr,CityFE(Guide)-ConventionalFuel,HwyFE(Guide)-ConventionalFuel,CombFE(Guide)-ConventionalFuel,Guzzler,AnnualFuel1Cost-ConventionalFuel,MakeModel
5,Audi,R8,2012,13,21,16,G,3000,AudiR8
6,Audi,R8,2012,11,20,14,G,3427,AudiR8
7,Audi,R8,2012,13,19,15,G,3202,AudiR8
8,Audi,R8,2012,12,19,14,G,3427,AudiR8
9,Audi,R8 Spyder,2012,13,21,16,G,3000,AudiR8 Spyder

In [114]:
del fecon['MakeModel']

In [115]:
fn = lambda row: row.MfrName +' '+ row.Carline # define a function for the new column
col = fecon.apply(fn, axis=1) # get column data with an index
fecon = fecon.assign(MakeModel=col.values) # assign values to column 'c'
fecon.sort_values(by=['MakeModel'])

,MfrName,Carline,ModelYr,CityFE(Guide)-ConventionalFuel,HwyFE(Guide)-ConventionalFuel,CombFE(Guide)-ConventionalFuel,Guzzler,AnnualFuel1Cost-ConventionalFuel,MakeModel
639,Audi,A3,2012,21,30,24,NaN,2002,Audi A3
638,Audi,A3,2012,22,28,24,NaN,2002,Audi A3
641,Audi,A3 QUATTRO,2012,21,28,24,NaN,2002,Audi A3 QUATTRO
257,Audi,A4,2012,22,30,25,NaN,1920,Audi A4
642,Audi,A4 AVANT QUATTRO,2012,21,29,24,NaN,2002,Audi A4 AVANT QUATTRO
...,...,...,...,...,...,...,...,...,...
1138,Volvo,XC70 AWD,2012,17,23,20,NaN,2775,Volvo XC70 AWD
1139,Volvo,XC70 AWD,2012,18,24,20,NaN,2775,Volvo XC70 AWD
975,Volvo,XC70 FWD,2012,19,25,21,NaN,2642,Volvo XC70 FWD
1140,Volvo,XC90 AWD,2012,16,23,18,NaN,3086,Volvo XC90 AWD
976,Volvo,XC90 FWD,2012,16,23,19,NaN,2919,Volvo XC90 FWD

In [117]:
fn = lambda row: row.Mfr[0]
col = violations.apply(fn, axis=1) # get column data with an index
violations = violations.assign(MAKE=col.values) # assign values to column 'c'

In [125]:
fn = lambda row: str(row.MAKE)+ ' ' + str(row.Model)
col = violations.apply(fn, axis=1) # get column data with an index
violations = violations.assign(MAKEModel=col.values) # assign values to column 'c'

In [130]:
violations.MAKEModel
fecon.MfrName.unique()

In [219]:

fordvio=violations[violations.MAKE=='Ford']
fordeco=fecon[fecon.MfrName=='Ford Motor Company']
fordchoices=list(fordeco.Carline.unique())

In [218]:
forddict={}
for i in [str(x) for x in fordvio.Model.unique()]:
    forddict[i]= process.extractOne(i, fordchoices)

# That worked for Ford. 
## so lets focus on them for a minute.

In [222]:
fordvio.reset_index(inplace=True)
fordvio.columns

Index(['index', 'Date Of Stop', 'Time Of Stop', 'Latitude', 'Longitude',
       'Year', 'Make', 'Model', 'Color', 'Race', 'Gender', 'Geolocation',
       'datetime', 'Mfr', 'MAKE', 'MAKEModel'],
      dtype='object')

In [224]:
fn = lambda row: forddict[str(row.Model)]
col = fordvio.apply(fn, axis=1) # get column data with an index
fordvio = fordvio.assign(Models=col.values) # assign values to column 'c'

In [225]:
fn = lambda row: row.Models[0]
col = fordvio.apply(fn, axis=1) # get column data with an index
fordvio = fordvio.assign(MODELS=col.values) # assign values to column 'c'

In [227]:
fn = lambda row: row.Models[1]
col = fordvio.apply(fn, axis=1) # get column data with an index
fordvio = fordvio.assign(fuzz=col.values) # assign values to column 'c'

# Drop all rows with fuzz rating below 80.
### we are less than 80% sure its correct

In [236]:
fordvio.drop(fordvio[fordvio.fuzz < 80].index, inplace=True)

## now we need to map the fuel econ values onto the ford violations table